@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<WhatsTheTwilio.Models.Contact>

<h2>Add A New Contact!</h2>

<form action="NewContact" class="new-contact">
    <label for="newName">Name: </label>
    <input type="text" name="newName" />
    <label for="newNumber">Number: </label>
    <input type="text" name="newNumber" />
    <button type="submit">Submit</button>
</form>
<div class="contact-confirm"></div>

@Html.ActionLink("Back home", "Index")


<form action="ContactList" class="contact-list">
    <button type="submit">View Contacts</button>
</form>
<div id="contact-list"></div>

@foreach (var contact in Model)
{
    @if (contact == null)
    {
        <p>No Contacts Available</p>
    }
    else
    {
        <div>
            <h3>
                @Html.DisplayFor(modelItem => contact.Name):
                @Html.DisplayFor(modelItem => contact.Number)
            </h3>

        </div>
    }
}